.name {
  display:block;
  margin-bottom: 0px;
}

.email {
  display:block;
  margin-top: 10px;
}

.text,
.yes,
.no {
  display: inline-block;
  vertical-align: middle;
}

.text {
  width: 200px;
}

.logo {
  width: 150px;
}

.googlesearch {
  font-family: Arial;
  width: 380px;
  height: 30px;
  border: none;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-left: 15px;
}

.wraper{
  text-align: center;
}

.first,
.last, 
.email,
.sign {
  width: 200px;
  font-weight: bold;
}

.first,
.last {
  width:100px;
  height: 30px;
  border-radius: 8px;
  border-color: grey;
  padding-left: 10px;
  border: 1px solid;
}

.email {
  width: 218px;
  height: 30px;
  border-radius: 8px;
  border-color: grey;
  padding-left: 10px;
  border: 1px solid;
}

.sign {
  margin-top: 10px;
  height: 40px;
  width: 232px;
  background-color: rgb(78, 78, 255);
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer; 
}

p {
  font-family: Arial;
  width: 300px;
}

.request {
  font-size: 30px;
  margin-bottom: 10px;
  width: 300px;
  background-color: white;
}

.uber1 {
  width: 280px;
  height: 34px;
  margin-top: 20px;
  margin-bottom: 5px;
  background-color: rgb(226, 226, 226);
  border: 1px solid white;
  padding-left: 10px;
  margin-left: 0;
}

.uber {
  width: 280px;
  height: 34px;
  margin-bottom: 20px;
  background-color: rgb(226, 226, 226);
  border: 1px solid white;
  padding-left: 10px;
}

.req {
  height: 35px;
  width: 110px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.schedule {
  width: 150px;
  height: 35px;
  background-color: rgb(226, 226, 226);
  border: 1px solid white;
  font-weight: bold;
}