.cat {
  width: 180px;
  border-radius: 8px;
}

.cat2 {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  margin-left: 10px;
}

.cat3 {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  margin-left: 10px;
  border-radius: 60px;
}

.searchbox {
  height: 30px;
  border-color: rgb(188, 188, 188);
  border: 1.5px solid rgb(188, 188, 188);
  border-radius: 5px;
  padding-left: 10px;
}

.googlesearch {
  font-family: Arial;
  width: 380px;
  height: 30px;
  border: none;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-left: 15px;
}

.email {
  font-size: 16px;
  font-family: Arial;
  margin-bottom: 0px;
}

.input {
  margin-top: 0px;
  height: 25px;
  width: 300px;
  margin-bottom: 0px;
  border: 2px solid;
  border-radius: 3px;
  border-color: rgb(99, 99, 99);
  box-shadow: 4px, 4px, 4px rgba(55, 55, 55, 0.2);
}

.text {
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  color: grey;
  margin-top: 0px;
  margin-bottom: 0px;
}

.agree {
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: Arial;
  width: 310px;
  height: 40px;
  background-color: rgb(82, 82, 207);
  color: white;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
}

.comment {
  border: none;
  color: grey;
  margin-left: 10px;
  font-size: 15px;
  font-family: Arial;
  width: 280px;
}

.tweet {
  background-color: rgb(3, 122, 196);
  color: white;
  border: none;
  height: 36px;
  width: 78px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 10px;
  transition: box-shadow 0.2s;
}
